html body {
  background-color: #F2F3F5;
}

.interface-container {
  position: relative;
  
  min-height: 15vh;
  min-width: 10vw;

  width: 100%;
  height: 100%;

  background-color: #E6E7EB;
}

.interface-outter-screen {
  position: relative;
  margin: auto;

  min-height: 15vh;
  min-width: 10vw;

  width: 92%;
  height: 65%;
  top: 25%;

  background-color: #0F0E14;
}

.interface-inner-screen {
  position: relative;
  margin: auto;

  min-height: 15vh;
  min-width: 10vw;

  width: 65%;
  height: 65%;
  top: 8%;

  border-radius: 2px;

  border-top-style: solid;
  border-top-width: 10px;
  border-top-color: #0676C0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  background-color: #3189D3;
}

.outter-knob {
  position: relative;
  margin: auto;

  top: 25%;

  width: 40%;
  height: 40%;

  border-radius: 50%;
  border-color: #889699;
  border-style: dotted;
  border-width: 2px;

  background-color: #EDEEF2;
}

.inner-knob {
  position: relative;
  margin: auto;

  top: 10%;

  width: 75%;
  height: 75%;

  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  border-color: #8C9A9D; 
}

.meter-container {
  position: relative;
  margin: auto;

  min-height: 15vh;
  min-width: 10vw;

  width: 55%;
  height: 95%;

  border-style: solid;
  border-color: #0F0E14;
  border-width: 1.5px;
}

.meter-button-1 {
  position: relative;
  margin: auto;

  top: 10%;

  width: 35%;
  height: 8%;

  background-color: #F8F9F4;

  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #D1D2CA;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meter-button-2 {
  position: relative;
  margin: auto;

  top: 15%;

  width: 35%;
  height: 8%;

  background-color: #F8F9F4;

  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #D1D2CA;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meter-left {
  position: absolute;

  top: 40%;
  left: 43%;

  width: 5%;
  height: 53%;

  border-radius: 5px;

  background-color: #D2D2C6;
}

.meter-right {
  position: absolute;

  top: 40%;
  left: 50%;

  width: 5%;
  height: 53%;

  border-radius: 5px;

  background-color: #D2D2C6;
}

.pad {
  position: relative;
  min-height: 15vh;
  min-width: 10vw;

  padding: 10px;

  background-color: #A0A4A7;

  border-radius: 10px;

  border-bottom-style: solid;
  border-bottom-color: #2E2E2E;
  border-bottom-width: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  border-right-style: solid;
  border-right-color: #2E2E2E;
  border-right-width: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}