@font-face {
  font-family: 'technoid';
  src: url('./fonts/TECHNOID.TTF');
}

html body {
  background-color: #F2F3F5;
}

.left-rail {
  position: absolute;
  margin: 0;
  
  top: 0;
  left: 0;

  height: 145%;
  width: 2vw;

  background-color: #C4C4C6;
}

.right-rail {
  position: absolute;
  margin: 0;

  top: 0;
  right: 0;

  height: 145%;
  width: 2vw;

  background-color: #C4C4C6; 
}

.item-1 h1 {
  position: relative;
  margin: auto;

  text-align: center;
  font-size: 5em;
  letter-spacing: .03em;
  
  color: #D32E3C;
}

.item-1 div {

}

.interface-container {
  position: relative;
  
  min-height: 15vh;
  min-width: 10vw;

  width: 100%;
  height: 100%;

  background-color: #E6E7EB;
}

.title-container {
  position: relative;
  margin: auto;

  height: 30%;
}

.ZPC {
  position: absolute;
  margin: 0;

  right: 27%;
  top: 10%;

  font-family: technoid;
  font-size: 10vh;
  font-style: italic;
  letter-spacing: .2vw;

  color: #CCCCCE;
}

.two-thousand {
  position: absolute;
  margin: 0;

  right: 3.75%;
  top: 40%;

  font-family: technoid;
  font-style: italic;
  font-size: 6.4vh;
  letter-spacing: .2vw;

  color: #a3a4a9;
}

.interface-outter-screen {
  position: relative;
  margin: auto;

  min-height: 15vh;
  min-width: 10vw;

  width: 92%;
  height: 65%;
  top: 2%;

  background-color: #0F0E14;
}

.interface-inner-screen {
  position: relative;
  margin: auto;

  min-height: 15vh;
  min-width: 10vw;

  width: 65%;
  height: 65%;
  top: 8%;

  border-radius: 2px;

  border-top-style: solid;
  border-top-width: 10px;
  border-top-color: #0676C0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  background-color: #3189D3;
}

.speaker-container {
  display: grid;
  grid-template-columns: auto auto;

  padding: 10px;
  margin: 10px;

  justify-content: center
}

.speaker {
  position: relative;
  
  margin: 10px;
  
  width: 150px;
  height: 40%;

  border-radius: 5px;

  background-color: #343027;
}
 
.outter-knob {
  position: relative;
  margin: auto;

  top: 25%;

  width: 150px;
  height: 150px;

  border-radius: 50%;
  border-color: #889699;
  border-style: dotted;
  border-width: 2px;

  background-color: #EDEEF2;
}

.inner-knob {
  position: relative;
  margin: auto;

  top: 10%;

  width: 75%;
  height: 75%;

  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  border-color: #8C9A9D; 
}

.pot-container {
  position: relative;
  display: grid;

  top: 50px;

  grid-template-columns: auto auto auto;

  justify-content: center;
}

.pot {
  position: relative;

  margin: 20px;

  width: 60px;
  height: 60px;

  border-radius: 50%;

  background-color: #8B8B8B;
}

.inner-pot {
  position: relative;
  margin: auto;

  top: 10px;
  
  width: 40px;
  height: 40px;

  border-radius: 50%;

  background-color: #F4A59E;
}

.pot-indicator {
  position: relative;
  margin: auto;

  bottom: 5px;

  height: 20px;
  width: 5px;

  border-radius: 10px;

  background-color: #D5E0D8;
}

.meter-container {
  position: relative;
  margin: auto;

  min-height: 15vh;
  min-width: 10vw;

  width: 55%;
  height: 95%;

  border-style: solid;
  border-color: #0F0E14;
  border-width: 1.5px;
}

.meter-button-1 {
  position: relative;
  margin: auto;

  top: 10%;

  width: 35%;
  height: 8%;

  background-color: #F8F9F4;

  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #D1D2CA;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meter-button-2 {
  position: relative;
  margin: auto;

  top: 15%;

  width: 35%;
  height: 8%;

  background-color: #F8F9F4;

  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #D1D2CA;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meter-left {
  position: absolute;

  top: 40%;
  left: 43%;

  width: 5%;
  height: 53%;

  border-radius: 5px;

  background-color: #D2D2C6;
}

.meter-right {
  position: absolute;

  top: 40%;
  left: 50%;

  width: 5%;
  height: 53%;

  border-radius: 5px;

  background-color: #D2D2C6;
}

.pad {
  position: relative;
  min-height: 15vh;
  min-width: 10vw;

  padding: 10px;

  background-color: #A0A4A7;

  border-radius: 10px;

  border-bottom-style: solid;
  border-bottom-color: #2E2E2E;
  border-bottom-width: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  border-right-style: solid;
  border-right-color: #2E2E2E;
  border-right-width: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.loop-container {
  position: relative;
  margin: auto;

  height: 96%;
  width: 80%;

  background-color: #DCDDE2;
}

.bottom-rail {
  position: relative;
  margin: auto;

  left: 0;

  width: 97%;
  height: 5vh;

  background-color: #BABCB1;
}

footer {
  position: absolute;
  text-align: center;

  left: 0;

  width: 100%;
  height: 30vh;

  background-color: #0B0A10;
}

footer h1 {
  position: relative;
  margin: 50px;
  
  font-size: 3em;

  color: white;
}