html body {
  background-color: #F2F3F5;
}

.grid-container div {
  min-height: 15vh;
  min-width: 10vw;
}

.pad {
  position: relative;

  padding: 10px;

  background-color: #A0A4A7;

  border-radius: 5px;

  border-bottom-style: solid;
  border-bottom-color: #2E2E2E;
  border-bottom-width: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  border-right-style: solid;
  border-right-color: #2E2E2E;
  border-right-width: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}